<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "KUPO" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="KUPO">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon.png">

    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      }
    </script>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-animate-css@1/dist/tw-animate.css">
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen bg-[url(/moogle.png)] bg-size-[auto_50vh] bg-no-repeat bg-bottom-left text-foreground">
    <header class="border-b border-border">
      <%= render Components::Admin::Navbar.new %>
    </header>

    <main>
      <% if authenticated? %>
        <%= turbo_stream_from Current.user %>
      <% end %>
      <%= render Components::Admin::Toast.new(notice: flash[:notice], alert: flash[:alert]) %>
      <%= yield %>
    </main>
  </body>
</html>
